<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WebStudy01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <context-param>
  	<param-name>mediaFolder</param-name>
	<param-value>D:/medias/images</param-value>
  </context-param>
  <servlet>
  	<servlet-name>ImageStreamingServlet</servlet-name>
  	<servlet-class>kr.or.ddit.servlet01.ImageStreamingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ImageStreamingServlet</servlet-name>
  	<url-pattern>/image.do</url-pattern>
  </servlet-mapping>
</web-app>